/******************************************************************************
* OpenLP - Open Source Lyrics

This view is for the bible right-third 
 

*/

body {
  /* Font usage - you can use any font installed in your system or configured in the OpenLP fonts folder. 
	by default the following 
  	font-family: Aleo-Bold;
 */ 
  
}

/* Create three equal columns that floats next to each other */
.column {
  float: right;
  width: 33.33%;
  padding: 0.5%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#songtitle { 
	
	/* Global settings you can copy and change.
  	text-decoration:underline; 
	color: white;
  	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 4px grey;
    	*/
	
	font-size:1.1vw; 
	text-decoration:underline; 
	padding: 0.5%;
  	text-align: right;
  	
  	
  	
  	
}

#currentslide {
  
 
  
 
 /*Change the font size here leave the vw/vh as it makes it propotional. Make minor changes 2.4.vw */
  font-size: 3vh;
 
/* Global Settings copy and change if you like
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 4px #000000;
  
 */
 
  
  padding: 0.5%;
  text-align: right;
  vertical-align:top;   
  
  
}


#nextslide {

	visibility: colapse; 
	display: none
}





