/******************************************************************************
* OpenLP - Open Source Lyrics

To create a simple transparent stage view. 
 

*/

body {
 /* Font usage - you can use any font installed in your system or configured in the OpenLP fonts folder. 
	by default the following 
  	font-family: Aleo-Bold;
 */ 
}

.slide {

  position: fixed; 
  top: 77%; 
  height: 21%; 
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  
}
.slideclear {

/*no style*/  

 
}

#currentslide {

  

  position: fixed; 
  top: 77%; 
  height: 20%; 
  width: 100%;
  padding: 1rem;
  text-align: center;   
  
   /*Change the font size here leave the vw/vh as it makes it propotional. Make minor changes */
  font-size: 3.4vh;
  
  /* Global Settings copy and change if you like
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 2px 2px 4px #000000;
  
 */
 
 
}






